<launch>
    <arg name="is_bag" default="false"/>
    <arg name="target_lib_name" default="target2d_2s"/>
    <arg name ="param_file" default="default.yaml"/>
    <param name="use_sim_time" value="$(arg is_bag)"/>
    <arg name="point_topic" default="/zed_client_node/points_masked"/>

    <node name="dual_chaser" type="preplanner_node" pkg="dual_chaser" output="screen">
        <!-- Target motion library -->
        <rosparam file="$(find chasing_utils)/param/lib/$(arg target_lib_name).yaml" command="load" ns="target_library" />
        <param name = "target_library/lib_folder" value="$(find chasing_utils)/library/$(arg target_lib_name)"/>
        <param name = "target_library/is_load_mode" value="true"/>

        <!-- Target prediction -->
        <rosparam file="$(find chasing_utils)/param/target_manager.yaml" command="load" ns="target_manager" />
        <rosparam param="target_frame_set">[target_0_filtered,target_1_filtered]</rosparam>

        <!-- EDT server -->
        <rosparam file="$(find dual_chaser)/param/octomap_zed.yaml" command="load"/>
        <remap from="cloud_in" to="$(arg point_topic)" />

        <!-- Dual chaser -->
        <rosparam subst_value="true" file="$(find dual_chaser)/param/$(arg param_file)" command="load"/>
    </node>

</launch>
