<launch>
    <arg name="plot_juggler" default="false"/>
    <arg name="rqt_gui" default="false"/>
    <arg name="rviz" default="true"/>
    <arg name="rosbag_status" default="false"/>
    <arg name="dual" default="true"/>
    <arg name= "is_bag" default = "false"/>

    <include file="$(find zed2_client)/launch/client.launch">
        <arg name="is_bag" value="$(arg is_bag)"/>
        <arg name="bag_file" value="/media/jbs/ssd/bag_zed/outdoor/dual_target/compressed/forest1.bag"/>
<!--        <arg name="bag_file" value="/media/jbs/ssd/bag_zed/outdoor/single_target/compressed/314_upper.bag"/>-->
        <arg name="run_edt" value="false"/>
        <arg name="rviz" value="false"/>
        <arg name="point_topic" value="/cloud_in"/>
        <arg if = "$(arg dual)" name="param_file" value="$(find dual_chaser)/param/zed2_client/circling.yaml"/>
        <arg unless="$(arg dual)" name="param_file" value="$(find dual_chaser)/param/zed2_client/single.yaml"/>
    </include>

    <include file="$(find dual_chaser)/launch/run.launch">
        <arg name="is_bag" value="$(arg is_bag)"/>
        <arg name="point_topic" value="/cloud_in"/>
        <arg name="param_file" value="default.yaml" if = "$(arg dual)"/>
        <arg name="param_file" value="single.yaml" unless = "$(arg dual)"/>
        <arg name="dual" value="$(arg dual)"/>
    </include>


    <!--Note: rviz_config_file is absolute value. modify it from perspective file  -->
    <node name = "rqt_client" pkg = "rqt_gui" type = "rqt_gui"
          args="--perspective-file $(find dual_chaser)/rviz/monitor.perspective" output="screen" if="$(arg rqt_gui)">
    </node>

    <node name = "rqt_client" pkg = "plotjuggler" type = "plotjuggler"
          args="-l $(find dual_chaser)/rviz/plot_juggler.xml" output="screen" if = "$(arg plot_juggler)">
    </node>

    <node pkg="rviz" type="rviz" name="rviz_zed_prediction"
          args="-d $(find dual_chaser)/rviz/dual_chaser.rviz" output="log" if="$(arg rviz)"/>

    <!-- rosbag record -->
    <node pkg="rosbag" type="record" name="rosbag_record_status"
          args = "record -o $(find dual_chaser)/rosbag/status /dual_chaser/wrapper/status"
          if ="$(arg rosbag_status)">
    </node>

</launch>