<launch>

    <include file="$(find zed2_client)/launch/client.launch">
        <arg name="is_bag" value="true"/>
<!--        <arg name="bag_file" value="/media/jbs/ssd/bag_zed/outdoor/dual_target/compressed/dual_circling.bag"/>-->
        <arg name="bag_file" value="/media/jbs/ssd/bag_zed/outdoor/dual_target/compressed/dual_straight.bag"/>
        <arg name="run_edt" value="false"/>
        <arg name="rviz" value="false"/>
        <arg name="point_topic" value="/cloud_in"/>
        <arg name="param_file" value="$(find dual_chaser)/param/zed2_client/circling.yaml"/>
    </include>

    <include file="$(find dual_chaser)/launch/preplanner.launch">
        <arg name="is_bag" value="true"/>
        <arg name="point_topic" value="/cloud_in"/>
    </include>

    <node pkg="rviz" type="rviz" name="rviz_zed_prediction"
          args="-d $(find dual_chaser)/rviz/dual_chaser.rviz" output="log"/>

</launch>